html,body {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-family: 'Ubuntu', sans-serif;
}

h1{
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;   
  font-size: 2rem;
  font-weight: normal;
}

label{
  display: block;
  font-size: 1rem;
}

/* INPUT SLIDER  */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(0, 0, 0, 1);
  border-radius: 0px;
  border: 0px solid #cccccc;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 50% px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 1);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(0, 0, 0, 1);
  border-radius: 0px;
  border: 0px solid #cccccc;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 50% px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #000000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.3);
  border: 0px solid #cccccc;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.3);
  border: 0px solid #cccccc;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 50% px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #000000;
  cursor: pointer;
  height: 3px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.3);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.3);
}


.app{
  display: flex;
  justify-content: space-between;
  background: #eecd56;
}

.toolbar{
  padding: 0.5rem;
  background: #eecd56;
  flex-grow: 1;
}

.widgets{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0.5rem;
}

.widget{
  margin: 16px;
}

.card{
  padding: 16px;
  min-width: 225px;
  background: white;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
}

.label{
  margin-bottom: 16px;
}

.pixel-canvas{
  font-size: 0.5rem;
  box-sizing: border-box;
  background: white;
  border: 1px solid #ddd;
  display: grid;
  height: 100vh;
  width: 100vh;
  min-width: 100vh;
}
.pixel{
  box-sizing: border-box;
  border: 1px solid #ddd;
}
.pixel:hover{
  background: #ddd;
}

