html,body {
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace; 
  font-size: 32px;
}

h1{
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: normal;
}

label{
  display: block;
  font-size: 1rem;
}

.app{
  display: flex;
  justify-content: space-between;
}

.toolbar{
  padding: 0.5rem;
  background: #eecd56;
  flex-grow: 1;
}

.widgets{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 0.5rem;
}

.pixel-canvas{
  font-size: 0.5rem;
  box-sizing: border-box;
  background: white;
  border: 1px solid #ddd;
  display: grid;
  height: 100vh;
  width: 100vh;
}
.pixel{
  box-sizing: border-box;
  border: 1px solid #ddd;
}
.pixel:hover{
  background: #ddd;
}

